@media (min-width: 1200px) {
    /* ===========common_css========== */
    .container{
        margin: 0px 80px;
    }
    /* =========header=============== */
    header .icon{
        flex: 1.1;
    }
    header .icon .search{
        display: flex;
    }
    /* ===================section 2==================== */
    .home_page .text h5{
        font-size: 100px;
        line-height: 113px;
        width: 70%;
    }
    /* ======================section 4===================== */
    .about .about_p{
        padding: 80px 0px;
    }
    .about .about_box{
        display: flex;
        flex-direction: row;
    }
    .about .about_box .about_left h5{
        padding: 50px 0px 10px 0px;
    }
    .about .about_box .about_left p{
        font-size: 1em;
    }
    /* ===========section 5================== */
    /* section 5 inherit form min width 992px */
    /* ===========section 6============== */
    /* section 6 inherit form min width 992px */
    /* ==========section 7================ */
    /* section 7 inherit form min width 992px */
    /* ===========section 8================ */
    /* section 8 inherit from min width 992px */
    /* ==================section 9============ */
    .news .news_box .news_right h3{
        font-size: 50px;
        text-align: end;
    }
    .news .news_box .news_right h4{
        font-size: 25px;
        padding-left: 150px;
    }
    input[type = "text"]{
        width: 70%;
        margin-left: 150px;
        margin-top: 50px;
    }
    .news .news_box .news_right p{
        text-align: right;
        padding: 25px 0px;
        font-size: 18px;
        line-height: none;
    }
    .news .news_box .news_right .grid_form button{
        margin: 50px 0px 0px 0px;
    }
    /* =================section 10========================= */
    /* section 10 inherit form min width 992px */
    /* ===============section 11==================== */
    footer .foot_grid{
        grid-template-columns: 2fr 1fr 1fr 1.2fr;
    }
}