@media (min-width: 992px) {
    /* =================common css================= */
    .container{
        margin: 0px 65px;
    }
    /* =================header==================== */
    .header .navbar .navigation{
        display: flex;
        flex: 3;
    }
    .header .navbar .end-nav button{
        display: none;
    }
    .header .navbar .end-nav .search{
        display: flex;
    }
    .header .navbar .end-nav .login{
        display: block;
    }
    /* ==========home page================== */
    .homepage .homepage-contect h1 {
        font-size: 50px;
        font-weight: 300;
    }
    .homepage .homepage-contect p {
        padding: 30px 0px 40px 0px;
        font-size: 22px;
    }
    /* ===============learn_course============= */
    .learn_course .learn_details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .learn_course .learn_title h6 {
        font-size: 17px;
    }
    .learn_course .learn_title h1 {
        font-size: 40px;
        line-height: 38px;
        padding: 10px 0px 60px 0px;
    }
    .learn_details .learn-grid .learn-text h3 {
        font-size: 17px;
    }
    .learn_course .learn-bottom {
        width: 60%;
        padding: 60px 0px;
    }
    /* ==============our facilities================= */
    .ourfacilities .our_p{
        padding: 80px 0px;
    }
    .ourfacilities .facilitydetails{
        display: flex;
        flex-direction: row;
    }
    .ourfacilities .facilitydetails .studydetails{
        padding: 40px 25px;
    }
    /* ===================news section======================= */
    .news_sec .news_details{
        display: flex;
        flex-direction: row;
    }
    /* ==============learn online=============== */
    .learn_online .learn_p{
        padding: 100px;
        text-align: center;
    }
    .learn_online h5{
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 1px;
        color: #ddd;
    }
    .learn_online h1{
        font-size: 45px;
        line-height: 55px;
    }
    .learn_online .btn{
        font-size: 18px;
        margin: 50px 10px 0px 0px;
    }
    /* ===============professional=================== */
    /* professional inherit from min width 768px */
    /* ===================testimonials=================== */
    /* testimonials inherit from min width 768px */
    /* ==================brands_logo======================= */
    .brands .brands_grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    /* ============footer====================== */
    footer .footer_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}